<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>Create Company Details</title>
    </header>
</head>
<body class="container">
<h1>Create Company Details</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="post" action="/companyDetails/create">
    <div>
        <label>Company Name
    <input th:field="${companyDetails.name}" class="form-control" placeholder="Enter Company Name">
        </label>
        <p class="error" th:errors="${companyDetails.name}"></p>
    </div>
    <div>
        <label>Company URL
            <input th:field="${companyDetails.url}" class="form-control" placeholder="Enter Company URL">
        </label>
        <p class="error" th:errors="${companyDetails.url}"></p>
    </div>
    <div>
        <label>Industry
        <input th:field="${companyDetails.industry}" class="form-control" placeholder="Enter Type of Industry">
        </label>
        <p class="error" th:errors="${companyDetails.industry}"></p>
    </div>
    <div>
        <label>Sub-industry
        <input th:field="${companyDetails.subindustry}" class="form-control" placeholder="Enter Sub-industry Types">
        </label>
        <p class="error" th:errors="${companyDetails.subindustry}"></p>
    </div>
    <div>
        <label>Address
            <input th:field="${companyDetails.address}" class="form-control" placeholder="Enter address here">
        </label>
        <p class="error" th:errors="${companyDetails.address}"></p>
    </div>
    <input type="submit" value="Create Company" class="btn btn-primary">
</form>

</body>
</html>
