<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>Create Company Details</title>
    </header>
</head>
<body class="container">
<h1>Create Company Details</h1>

<nav th:replace="fragments :: navigation"></nav>
<form method="post" action="/companyDetails/create">
    <div>
        <label>Company Name
            <input th:field="${companyDetails.name}" class="form-control" placeholder="Enter Company Name">
        </label>
        <p class="error" th:errors="${companyDetails.name}"></p>
    </div>
    <div>
        <label>Company URL
            <input th:field="${companyDetails.url}" class="form-control" placeholder="Enter Company URL">
        </label>
        <p class="error" th:errors="${companyDetails.url}"></p>
    </div>
    <div>
        <label>Industry
            <td><div class="form-group blu-margin">
                <select class="form-control" th:field="${companyDetails.industry}"  id="dropIndustry">
                    <option value="">Select Industry</option>
                    <option th:each="industry : ${industries}" th:value="${industry.name}" th:text="${industry.name}"></option>
                </select>
            </div></td>
        </label>
    </div>
    <div>
        <label>Sub-industry
            <td><div class="form-group blu-margin">
                <select class="form-control" th:field="${companyDetails.subindustry}"  id="dropSubIndustry">
                    <option value="">Select Sub-industry</option>
                    <option th:each="subindustry : ${subindustries}" th:value="${subindustry.name}" th:text="${subindustry.name}"></option>
                </select>
            </div></td>
        </label>
    </div>
    <div>
        <label>Address
            <input th:field="${companyDetails.address}" class="form-control" placeholder="Enter address here">
        </label>
        <p class="error" th:errors="${companyDetails.address}"></p>
    </div>
    <input type="submit" value="Create Company" class="btn btn-primary">
</form>

</body>
</html>
