<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Create Company Details</title>
</head>
<body class="container">
<h1>Create Company Details</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="post" action="/companyDetails/create">
    <div>
        <label>Company Name</label>
    <input type="text" name="name">
    </div>
    <div>
        <label>Industry</label>
        <input type="text" name="industry">
    </div>
    <input type="submit" value="Create Company" class="btn btn-primary">
</form>

</body>
</html>
