<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Delete Company</title>
</head>
<body class="container">
<h1>Delete Company</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="post">
<th:block th:each="companyDetail:${companyDetails}">
    <div class="form-check">
    <label>
    <span th:text="${companyDetail.name}"></span>
    <input type="checkbox" name="companyDetailIds" th:value="${companyDetail.id}">
    </label>
    </div>
</th:block>
    <input type="submit" value="delete" class="btn btn-primary">
</form>
</body>
</html>