<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Company Details</title>
</head>
<body class="container">
<h1>All Company Details</h1>
<nav th:replace="fragments :: navigation"></nav>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th> ID</th>
            <th> Company Name</th>
            <th> Industry</th>
            <th>Sub-industry</th>
            <th>Address</th>

        </tr>
    </thead>
    <tr th:each ="companyDetail: ${companyDetails}">
        <td th:text="${companyDetail.id}"></td>
        <td class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="${companyDetail.url}" th:text="${companyDetail.name}"></a></td>
        <td th:text="${companyDetail.industry}"></td>
        <td th:text="${companyDetail.subindustry}"></td>
        <td class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/companyDetails/map?search=' + ${companyDetail.address}}" th:text="${companyDetail.address}"  th:name="companyDetailId" th:value="${companyDetail.id}"></a></td>
        <td class="nav">
            <li class="nav-item"><a class="nav-link" th:href="@{'/companyDetails/update?search=' + ${companyDetail.id}}" th:name="companyDetailId" th:value="${companyDetail.id}">Update Company Details</a></li>

    </tr>
</table>
</body>
</html>