<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Company Details</title>
</head>
<body>
<h1>All Company Details</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th Company Name></th>
            <th Industry></th>
        </tr>
    </thead>
    <tr th:each ="companyDetail: ${companyDetails}">
        <td th:text>"${companyDetail.name}"</td>
        <td th:text>"${companyDetail.industry}"</td>
    </tr>
</table>
</body>
</html>