<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>Google Map Locator</title>
    </header>
</head>
<body class="container body-content">
<div id="content-wrap">
<h1>Company Location</h1>
<style>
    #map{
      height:400px;
      width:100%;
    }
  </style>
<script src="https://unpkg.com/axios/dist/axios.min.js">
</script>

<div id="formatted_address"></div>
<div id="map"></div>
<script>
function initMap(){
       let locationGeometry;
       let locationGeometryResult;
       let formattedAdress;
       let url_string = window.location.href;
       let url = new URL(url_string);
       let location = url.searchParams.get("search");

      locationGeometry = axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
        params:{
          address:location,
          key:'AIzaSyADYvhBijgiw8gTEPLgqqGjtafQI1MdFhs'
        }
      })
      .then(function(response){

      console.log(response);
            locationGeometryResult= response.data.results[0].geometry.location;
            formattedAddress=response.data.results[0].formatted_address;
            let lat = response.data.results[0].geometry.location.lat;
            let lng = response.data.results[0].geometry.location.lng;

            let formattedAddressOutput = `
          <ul class="list-group">
            <li class="list-group-item">${formattedAddress}</li>
          </ul>
        `;

     document.getElementById('formatted_address').innerHTML = formattedAddressOutput;
     let options = {
        zoom:8,
        center:locationGeometryResult,
      }

     let map = new google.maps.Map(document.getElementById('map'), options);



      let marker = new google.maps.Marker({
          map: map,
          animation: google.maps.Animation.DROP,
          position: locationGeometryResult,
          title:location,
        });
        marker.addListener('click', toggleBounce);


      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
}).catch(function(error){
        console.log(error);
      });
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXjJTcvOUa8wmbwlPx7u19u0BiALEK4B8&callback=initMap">
</script>
</div>
</body>
</html>
