<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Google Map</title>
</head>
<body class="container">
<h1>Company Location</h1>
<nav th:replace="fragments :: navigation"></nav>
<style>
    #map{
      height:400px;
      width:100%;
    }
  </style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<h1>Company Location in Map</h1>
<th:block th:each ="companyDetail: ${companyDetails}">
    <div id="${companyDetail.id}"></div>

<script>
function geocode(){
      let location = document.getElementById('${companyDetail.id}');
      //console.log(location);



}
</script>
</th:block>
<div id="map"></div>
<script>


    function initMap(){
      // Map options
      let options = {
        zoom:8,
        center:geocode(),
      }


      let map = new google.maps.Map(document.getElementById('map'), options);

      google.maps.event.addListener(map, 'click', function(event){

        addMarker({coords:event.latLng});
      });


      var marker = new google.maps.Marker({
        position:geocode(),
        map:map,
        icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
      });



      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });



      var markers = [
        {
          coords:geocode(),
          iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          content:'<h1>Lynn MA</h1>'
        },
        {
          coords:geocode(),
          content:'<h1>Amesbury MA</h1>'
        },
        {
          coords:geocode(),
        }
      ];


      for(var i = 0;i < markers.length;i++){

        addMarker(markers[i]);
      }


      function addMarker(props){
        let marker = new google.maps.Marker({
          position:props.coords,
          map:map,
        });


        if(props.iconImage){
          marker.setIcon(props.iconImage);
        }


        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
  </script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXjJTcvOUa8wmbwlPx7u19u0BiALEK4B8&callback=initMap">
</script>

</body>
</html>
