<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>Company Details Update Form</title>
    </header>
</head>
<body class="container body-content">
<div id="content-wrap">
<div><nav th:replace="fragments :: navigation"></nav></div>
<h1>Company Detail Update Form</h1>

<form method="post" action="/companyDetails/updateForm">
    <div>
        <label>Company Name
            <input th:field=companyDetails.name class="form-control" ></input>
        </label>
        <p class="error" th:errors="${companyDetails.name}"></p>
    </div>
    <div>
        <label>Company URL
            <input th:field="${companyDetails.url}" class="form-control" ></input>
        </label>
        <p class="error" th:errors="${companyDetails.url}"></p>
    </div>
    <div>
        <label>Industry
            <input th:field="${companyDetails.industry}" class="form-control"></input>
        </label>
        <p class="error" th:errors="${companyDetails.industry}"></p>
    </div>
    <div>
        <label>Sub-industry
            <input th:field="${companyDetails.subindustry}" class="form-control"></input>
        </label>
        <p class="error" th:errors="${companyDetails.subindustry}"></p>
    </div>
    <div>
        <label>Address
            <input th:field="${companyDetails.address}" class="form-control" ></input>
        </label>
        <p class="error" th:errors="${companyDetails.address}"></p>
    </div>
    <input type="submit" value="Update Company" class="btn btn-primary">
</form>
</div>
<footer>
    <p th:replace="fragments :: footer"></p>
</footer>
</body>
</html>