<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>let url_string = window.location.href;
       let url = new URL(url_string);
       let username = url.searchParams.get("username");
       console.log(username);
       $(document).ready(function(username) {
    $.ajax({
        url: "http://localhost:8081/greeting?"+ $.param({ name: "username" })



    }).then(function(data) {
       $('.greeting-id').append(data.id);
       $('.greeting-content').append(data.content);
    });
});</script>

<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>All Company Details</title>
    </header>
</head>
<body class="container body-content">
<div id="content-wrap">
    <div id="user_id"></div>

    <p class="greeting-content">The content is </p>
    <h1>All Company Details</h1>

    <h1>Welcome<h1 th:text="${username}"></h1></h1>
    <div th:replace="fragments :: list-per-page"></div>
    <form method="post" action="">
        <div class="table responsive">
            <table id="tadminViewReport" class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th> Company Name</th>
                    <th> Location</th>
                    <th> Industry</th>
                    <th> Sub-industry</th>
                    <th> Annual Revenue(Million USD)</th>
                    <th> Earning(Million USD)</th>
                    <th> Update Company Details</th>
                </tr>
                </thead>
                <tr th:each ="companyDetail: ${companyDetails}">
                    <td class="nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="${companyDetail.url}" th:text="${companyDetail.name}"></a></td>
                    <td class="nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/companyDetails/map?search=' + ${companyDetail.address}}" th:text="${companyDetail.address}"  th:name="companyDetailId" th:value="${companyDetail.id}"></a></td>
                    <td class="nav">
                        <ul th:text="${companyDetail.industry}" th:value="${companyDetail.industry}"></ul></td>
                    <td class="nav">
                        <ul  th:text="${companyDetail.subindustry}" th:value="${companyDetail.subindustry}"></ul></td>
                    <td class="nav">
                        <ul  th:text="${companyDetail.revenue}" ></ul></td>
                    <td class="nav">
                        <ul th:text="${companyDetail.earnings}" ></ul></td>
                    <td class="nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/companyDetails/update?search=' + ${companyDetail.id}}" th:name="companyDetailId" th:value="${companyDetail.id}" >Update </a></li>

                </tr>
            </table></div>
        <div id="pageNavPosition"></div>
        <br />
    </form>


    <script>
            reportsPerPage = listDisplayPerPg.options[listDisplayPerPg.selectedIndex].value;
            var pager = new Pager('tadminViewReport', reportsPerPage);
            pager.init();
            pager.showPageNav('pager', 'pageNavPosition');
            pager.showPage(1);

function pageRecordChange()
{
            //alert("Calling during change");
            reportsPerPage = listDisplayPerPg.options[listDisplayPerPg.selectedIndex].value;
            var pager = new Pager('tadminViewReport', reportsPerPage);
            pager.init();
            pager.showPageNav('pager', 'pageNavPosition');
            pager.showPage(1);

}


function Pager(tableName, itemsPerPage) {
    //alert("itemsPerPage="+itemsPerPage)
    this.tableName = tableName;
    this.currentPage = 1;
    this.pages = 0;
    this.inited = false;

    this.showRecords = function(from, to) {
        var rows = document.getElementById(tableName).rows;
        for (var i = 1; i < rows.length; i++) {
            if (i < from || i > to)
                rows[i].style.display = 'none';
            else
                rows[i].style.display = '';
        }
    }

    this.showPage = function(pageNumber) {
        if (! this.inited) {
            alert("not inited");
            return;
        }

        var oldPageAnchor = document.getElementById('pg'+this.currentPage);
        oldPageAnchor.className = 'pg-normal';

        this.currentPage = pageNumber;
        var newPageAnchor = document.getElementById('pg'+this.currentPage);
        newPageAnchor.className = 'pg-selected';

        var from = (pageNumber - 1) * Number(itemsPerPage) + 1;
        var to = (from + Number(itemsPerPage)) - 1;
        this.showRecords(from, to);

        var pgNext = document.getElementById(this.pagerName + 'pgNext');
        var pgPrev = document.getElementById(this.pagerName + 'pgPrev');

        if (pgNext != null) {
            if (this.currentPage == this.pages) pgNext.style.display = 'none';
            else pgNext.style.display = '';
        }
        if (pgPrev != null) {
            if (this.currentPage == 1) pgPrev.style.display = 'none';
            else pgPrev.style.display = '';
        }
    }

    this.prev = function() {
        if (this.currentPage > 1)
            this.showPage(this.currentPage - 1);
    }

    this.next = function() {
        if (this.currentPage < this.pages) {
            this.showPage(this.currentPage + 1);
        }
    }

    this.init = function() {
        var rows = document.getElementById(tableName).rows;
        var records = (rows.length - 1);
        this.pages = Math.ceil(records / itemsPerPage);
        this.inited = true;
    }

    this.showPageNav = function(pagerName, positionId) {
        if (! this.inited) {
            alert("not inited");
            return;
        }
        var element = document.getElementById(positionId);

        var pagerHtml = '<span id="' + pagerName + 'pgPrev" onclick="' + pagerName + '.prev();" class="pg-normal"> &#171 Prev </span> &nbsp; ';
        for (var page = 1; page <= this.pages; page++)
            pagerHtml += '<span id="pg' + page + '" class="pg-normal" onclick="' + pagerName + '.showPage(' + page + ');">' + page + '</span> &nbsp; ';
        pagerHtml += '<span id="' + pagerName + 'pgNext" onclick="'+ pagerName+'.next();" class="pg-normal"> Next &#187;</span>';

        element.innerHTML = pagerHtml;
    }
}
</script>
</div>

</body>
</html>