.error{
color: red;}

.map {
  height: 100%;
  width:100%
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

.tadminViewReport {
  table-layout: floating ;
  width: 100% ;
}


td {
  width: 50% ;
}

.navbar-brand {
  display: inline-block;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: $navbar-brand-font-size;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}