<!DOCTYPE html>
<<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>Add Industry</title>
    </header>
</head>
<body class="container">
<h1>Industries</h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${employers} and ${employers.size()}">no jobs!</p>

<div class="container body-content">
    <ul>
        <li th:each="industry : ${industries}">
            <a th:href="@{'/industries/view/' + ${industry.id}}" th:text="${industry.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/industries/add'}">Add Industries</a>

</div>

</body>
</html>