<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>About Competrack</title>
    </header>
</head>
<body class="container body-content">
<div id="content-wrap">
    <h1>Our Story</h1>
    <div class="content-text">
        <p>We are leading Market Research Company offering different market research services including company profiling, industry analysis, that aide in developing and growing products, expanding brands, increasing sales and better understanding your customers.
            Since our founding in 2001, we have partnered with leading industry participants across different industry sectors in creating world-class services that are efficienct, cost-effective, and smarter than ever before.
            We specialize in developing customized, focused research plans that produce actionable information and insights. Our expertise ranges from simple company profiling to complex and sophisticated statistical and analytical designs.
        </div>
       <h2 class="marginRight">Meet Our Team</h2>
        <image src="/images/arpita.JPG" height=200>
            <P>Arpita Mukherjee, the Managing Director of Competrack, Inc., has over eight years of experience in technology market research and consulting,
                including work with a major market research and growth consulting firm. She holds a bachelor’s degree in chemical engineering and a master’s degree in Energy Science and Technology from Jadavpur University.
                Arpita has industry knowelge and work experience in wide range of industry sectors. Currently, she is focusing more in Web Application Development so that  </P>
        </image>

</div>
</body>
</html>