<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>About Competrack</title>
    </header>
</head>
<body class="container body-content">
<div id="content-wrap">
    <h1>Our Story</h1>
    <div class="content-text">
        <p>We are leading collaborators between idea sellers and  product/technology developers.
            Since our founding in 2001, we have partnered with leading manufactueres across different industry sectors in creating world-class products, applications, services that are efficienct, cost-effective, and smarter than ever before.Today our core ideas can be found inside millions of devices and applications from the biggest brands in the business.
            </n>We help everyday people collate their ideas and market them to companies! From friendly and helpful support, fast idea filing process, high quality prototype designs to a huge network of companies eager to pay royalties for new inventions.</p>
        </div>
       <h2 class="marginRight">Meet Our Team</h2>
        <image src="/images/arpita.JPG" height=200>
            <P>Arpita Mukherjee, the Managing Director of Competrack, Inc., has over eight years of experience in technology market research and consulting,
                including work with a major market research and growth consulting firm. She holds a bachelor’s degree in chemical engineering and a master’s degree in Energy Science and Technology from Jadavpur University.
                Arpita has industry knowelge and work experience in wide range of industry sectors. Currently, she is focusing more in Web Application Development. </P>
        </image><footer>
    <p th:replace="fragments :: footer"></p>
</footer>

</div>
</body>
</html>