<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head" >
    <meta charset="utf-8">
    <title>CompeTrack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
    <nav th:fragment="headernotloggedin">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand" >Competrack</div>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/register"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact US</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </nav>
<nav th:fragment="headerloggedin">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" >Competrack</div>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/register"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact US</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</nav>
<body>
<nav th:fragment="navigation">
    <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href="/companyDetails">All Company Details</a></li>
    <li class="nav-item"><a class="nav-link" href="/companyDetails/create">Create Company Details</a></li>
    <li class="nav-item"><a class="nav-link" href="/companyDetails/delete">Delete Company Details</a></li>

    </ul>
</nav>

<div th:fragment="companyDetails-lister">
    <table id="tadminViewReport" class="table table-striped">
        <tr th:each="companyDetail : ${companyDetails}">
            <td>
                <p>
                    Company Name:
                    <a th:href="${companyDetail.url}" th:text="${companyDetail.name}"></a>
                </p>

                <p>
                    Industry:

                    <a  th:text="${companyDetail.industry}"></a>

                </p>
                <p>
                    Subindustry:


                    <a  th:text="${companyDetail.subindustry}"></a>


                </p>
                <p>
                    Location:


                    <a th:href="@{'/companyDetails/map?search=' + ${companyDetail.address}}" th:text="${companyDetail.address}"></a>


                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>