<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head" >
    <meta charset="utf-8">
    <title>CompeTrack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <nav th:fragment="headernotloggedin">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand" >Competrack</div>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/register"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact US</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </nav>

<nav th:fragment="headerloggedin">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" >Competrack</div>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/register"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact US</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</nav>

<div th:fragment="navigation">
    <div class="container-fluid">
        <tr>
            <td>
                <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Company Details Menu
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                <li><a class="nav-link" href="/companyDetails">All Company Details</a>
                <li><a class="nav-link" href="/companyDetails/create">Create Company Details</a>
                    <li><a class="nav-link" href="/companyDetails/delete">Delete Company Details</a>
        </ul>
                </div></td>
            <td>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Industry Menu
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/industry/view">All Industries</a>
                    <li><a class="nav-link" href="/industry/add">Add Industries</a>
                </ul>
            </div></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sub-industry Menu
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/subindustry/view">All Sub-industries</a>
                        <li><a class="nav-link" href="/subindustry/add">Add Sub-industries</a>
                    </ul>
                </div></td>
        </tr>
    </div>
</div>

<div th:fragment="companyDetails-lister">
    <table id="tadminViewReport" class="table table-striped">
        <tr th:each="companyDetail : ${companyDetails}">
            <td>
                <p>
                    Company Name:
                    <a th:href="${companyDetail.url}" th:text="${companyDetail.name}"></a>
                </p>

                <p>
                    Industry:

                    <a  th:text="${companyDetail.industry}"></a>

                </p>
                <p>
                    Subindustry:


                    <a  th:text="${companyDetail.subindustry}"></a>


                </p>
                <p>
                    Location:


                    <a th:href="@{'/companyDetails/map?search=' + ${companyDetail.address}}" th:text="${companyDetail.address}"></a>


                </p>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="list-per-page">
<table>
    <tr>
        <td><label id="lDisplayPerPg" for="lDisplayPerPg">Items per page</label>
            <select name="listDisplayPerPg" id="listDisplayPerPg" onchange="javascript:pageRecordChange()">
                <option value="5" selected="selected">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select></td>
    </tr>
</table>
</div>
</body>
</html>