<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>Companies with Category</title>
    </header>
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="companyDetails-listing">
        <tr th:each="companyDetail : ${companyDetails}">
            <td>
                <p>
                    Company Id:
                    <a th:href="@{'/view/' + ${companyDetail.id}}" th:text="${companyDetail.id}"></a>
                </p>
                <p th:text="${'Name: ' + companyDetail.name}"></p>
                <p>
                    Industry:
                    <ul th:each="industry : ${companyDetail.industry}">
                    <a th:href="@{'/industries/view/' + ${industry.id}}" th:text="${industry.name}"></a>
            </ul>
                </p>
                <p>
                    Subindustry:
                <ul th:each="subindustry : ${companyDetail.subindustries}">
                    <li>
                        <a th:href="@{'/subindustries/view/' + ${subindustry.id}}" th:text="${subindustry.name}"></a>
                    </li>
                </ul>
                </p>
            </td>
        </tr>
    </table>

</div>
</body>
</html>