<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>Companies with Category</title>
    </header>
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table id="tadminViewReport" class="table table-striped">
        <tr th:each="companyDetail : ${companyDetails}">
            <td>
                <p>
                    Company Name:
                    <a th:href="${companyDetail.url}" th:text="${companyDetail.name}"></a>
                </p>

                <p>
                    Industry:

                    <a  th:text="${companyDetail.industry}"></a>

                </p>
                <p>
                    Subindustry:


                        <a  th:text="${companyDetail.subindustry}"></a>


                </p>
                <p>
                    Location:


                <a th:href="@{'/companyDetails/map?search=' + ${companyDetail.address}}" th:text="${companyDetail.address}"></a>


                </p>
            </td>
        </tr>
    </table>

</div>
</body>
</html>