<!DOCTYPE html>
<<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>Subindustry</title>
    </header>
</head>
<body class="container">
<h1>Subindustry</h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${subindustries} and ${subindustries.size()}">no subindustries!</p>

<div class="container body-content">
    <ul>
        <li th:each="subindustry : ${subindustries}">
            <a th:href="@{'/subindustries/view/' + ${subindustry.id}}" th:text="${subindustry.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/subindustries/add'}">Add Subindustries</a>

</div>
</body>
</html>