<!DOCTYPE html>
<<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>View Subindustry</title>
    </header>
</head>

<nav th:replace="fragments :: navigation"></nav>
<body class="container  body-content">
<h1>Available Sub-industries</h1>
<div class="subindustry-listing">
    <li th:each="subindustry: ${subindustries}">
        <a th:href="@{/list/companyDetails(column=subindustry,value=${subindustry.name})}" th:text="${subindustry.name}" th:value="${subindustry.id}"></a>
</div>
</body>
</html>