<!DOCTYPE html>
<<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: headerloggedin">
        <title>View Subindustry</title>
    </header>
</head>

<nav th:replace="fragments :: navigation"></nav>
<body class="container  body-content">
<h1>View Subindustry</h1>
<h1 th:text="${'Subindustry: ' + subindustry.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p th:text="${'Name: ' + subindustry.name}"></p>
    <p> Jobs:
    <ul>
        <li th:each="companyDetail : ${subindustry.companyDetails}">
            <a th:href="@{'/view/' + ${companyDetail.id}}" th:text="${companyDetail.name}"></a>
        </li>
    </ul>
    </p>
</div>
</body>
</html>